
<div class="col-md-8 col-md-offset-2 text-center bordered">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")"><img class="logo" src="~/Content/Images/logo.png"></a>
        <h3>An error occured while processing your request. Please, try later.</h3>
    </div>
</div>
