@model BlogHost.Models.EntityListViewModel<BlogHost.Models.ArticleViewModel>
@using BlogHost.Infrastructure
@{ 
    ViewBag.Title = "Welcome to BlogHost";
}
<div class="row bordered">
    @Html.Partial("ArticleListPartial", Model)
</div>