@{ 
    ViewBag.Title = "Registration result";
}
<div>
    <h2>Registration succeed</h2>
    <p>Thank you, @ViewBag.Name for registration. Now you have your own @Html.ActionLink("account", "Index", "Account") and ability to create different articles.</p>
</div>
